.Loader {
  background: white;
  z-index: 1000;
}

.Loader h3 {
  animation: Loader 2s ease-out infinite;
  color: var(--color-green);
  font-weight: var(--fw-700);
}
@keyframes Loader {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
