.Favorit {
}

.Favorit h2 {
  font-weight: 600;
  color: var(--color-light-3) !important;
}
.Favorit .info p {
  color: var(--color-black-2);
  font-size: var(--text-sm);
  margin-bottom: 4px;
}
.Favorit .info a {
  color: var(--color-light-3) !important;
}
.Favorit .price {
  color: var(--color-light-3);
  font-weight: var(--fw-400);
  font-size: var(--text-sm) !important;
}

.Favorit .price span {
  color: var(--color-light-3) !important;
  font-weight: var(--fw-600) !important;
}
