.Locate {
  z-index: 100;
  backdrop-filter: blur(5px);
  background-color: #a6a6a64b;
}
.Locate form {
  padding: 2.5rem;
  border-radius: 1rem;
  background: white;
  width: 370px;
}
.Locate form input {
  padding: 1rem;
  border-radius: 8px;
  font-size: var(--text-base);
  font-weight: var(--fw-400);
  background: var(--color-light-1);
  border: none;
}
.Locate form label {
  font-size: var(--text-base);
  color: var(--color-light-3);
}

.Locate form button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 2px solid var(--color-light-1) !important;
  color: var(--color-black-2);
  background: transparent;
}
