.add_btn .bag {
  color: var(--color-black-2) !important;
  text-transform: capitalize;
  font-weight: var(--fw-500);
}

.add_btn .btn_container button {
  background: var(--color-green) !important;
  border-radius: 0;
  padding: 0px 8px;
  color: var(--color-black-2);
}
.add_btn .btn_container button:nth-child(2) {
  color: var(--color-white-1) !important;
}
