.Best_Sell h2 {
  font-weight: 700;

  margin-bottom: 2rem;
  color: var(--color-light-3);
}

.Best_Sell .box a {
  font-size: var(--text-base);
  font-weight: var(--fw-regular);
  color: var(--black2-474c5a);
}
@media (max-width: 768px) {
  .Best_Sell h2 {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 576px) {
  .Best_Sell h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 1rem;
  }
}
